main{
  background: var(--light);
  color: var(--dark);
  height: 80vh;
}
.nav-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--dark);
  height: 20vh;
}
.main-navlink{
  color: var(--light);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-navlink:hover:hover{
  background: var(--light);
  color: var(--dark);
}
h1{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  background-color: var(--dark);
  color: var(--light);
  min-height: 7vh;
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
h3{
  background-color: var(--dark);
  color: var(--light);
  min-height: 7vh;
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
section{
  height: 63vh;
  overflow-x: none;
}
.articles-list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 63vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--dark);
}
.article{
  min-height: 35vh;
  display: flex;
}
.article-description{
  width: 60vw;
  background: var(--light-fade);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article-description p{
  padding: 1rem;
}
.article-description a{
  background: var(--light);
  color: var(--dark);
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}
.article-img img{
  width: 40vw;
  height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.current-article{
  height: 80vh;
  background-color: var(--light);
  color: var(--dark);
  overflow-y: scroll;
}
.current-article p{
  padding: 0% 1rem 1rem 1rem;
}
.current-article img{
  max-width: 100vw;
}